#image-upload-control {

    display: flex;
    align-items: center;
}

#image-upload-control input {
    max-width: 15rem;
}

#image-upload-control img {
    display: none;
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: var(--border-rasius-small);
}